h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px #0b313e;
}

h2 {
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px #0b313e;
}

h3 {
  font-size: 1.5rem;
  text-shadow: 0.25px 0.25px 1px #0b313e;
  font-size: 1rem;
  text-shadow: 1px 1px 2px #0b313e;
}

a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  text-shadow: 1px 1px 2px #0b313e;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #000;
  font-family: 'Roboto', 'Open Sans';
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body .container {
  width: 1200px;
  height: 3500px;
  margin: 0 auto;
  text-align: center;
}

body .container nav {
  width: inherit;
  height: 50px;
  position: fixed;
  cursor: pointer;
  margin-top: -40px;
}

body .container nav ul {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background-color: #0b313e;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F4F4F4;
  box-shadow: 1px 1px 10px #0b313e;
}

body .container nav ul li {
  margin-left: 2rem;
  list-style: none;
}

body .container nav ul li a {
  font-size: 1rem;
}

body .container nav ul li a:hover {
  color: #fab100;
}

body .container header {
  width: inherit;
  background-image: url("img/blueforest2.png");
  background-size: cover;
  height: 400px;
}

body .container header .header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

body .container header .header .titulo {
  border: 1px solid #FFFFFF;
  padding: 15px 40px;
  text-align: center;
  margin-top: 150px;
}

body .container header .header .titulo h1 {
  color: #ffffff;
  margin-bottom: 10px;
}

body .container header .header .titulo h3 {
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 400;
}

body .container main {
  background-color: #ffffff;
}

body .container main .photo {
  text-align: center;
}

body .container main .photo img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: relative;
  margin-top: -4rem;
}

body .container main .about_me {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  overflow: hidden;
}

body .container main .about_me h2 {
  color: #fab100;
  margin-bottom: 1.25rem;
}

body .container main .about_me p {
  padding: 0 1rem;
  color: #0b313e;
}

body .container main .works {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 4rem;
  background-color: #F4F4F4;
  margin: 0 auto;
}

body .container main .works h2 {
  text-align: center;
  color: #fab100;
  line-height: 140px;
}

body .container main .works .work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  cursor: pointer;
}

body .container main .works .work .work_card {
  margin: 2rem 2rem;
  text-align: center;
}

body .container main .works .work .work_card:hover {
  opacity: 0.5;
}

body .container main .works .work .work_card img {
  width: 300px;
  margin-bottom: 1rem;
  box-shadow: 2px 1px 10px #0b313e;
}

body .container main .works .work .work_card h3 {
  color: #fab100;
  font-size: 1.2rem;
}

body .container main .works .work .work_card h5 {
  color: #8a8986;
  font-size: 1.4rem;
}

body .container main .skills {
  margin-bottom: 4rem;
  text-align: center;
}

body .container main .skills h2 {
  color: #fab100;
  margin-bottom: 1rem;
  line-height: 140px;
}

body .container main .skills .skill {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 0 1rem;
}

body .container main .skills .skill i {
  margin: 1rem 1rem;
  font-size: 4rem;
  color: #0b313e;
}

body .container main .contact_me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0b313e;
}

body .container main .contact_me h2 {
  width: 100%;
  text-align: center;
  color: #fab100;
  margin-top: 1rem;
  margin-bottom: 0rem;
  line-height: 120px;
}

body .container main .contact_me .contact_form {
  width: 100%;
}

body .container main .contact_me .contact_form form {
  display: inline-grid;
  justify-content: center;
  margin-top: 0rem;
  font-size: 0rem;
  color: #fffff;
}

body .container main .contact_me .contact_form form label {
  color: #FFFFFF;
  text-align: left;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
}

body .container main .contact_me .contact_form form input {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

body .container main .contact_me .contact_form form .boton {
  margin-top: 1rem;
  width: 20%;
  background-color: #fab100;
}

body .container main .contact_me .contact_form form .boton:hover {
  opacity: .7;
}

body .container main .contact_me .contact_form #truc {
  display: none;
  color: blue;
}

body .container main .contact_me .contact {
  background-color: #0b313e;
  font-weight: 300;
  color: #F4F4F4;
  margin-bottom: 2rem;
  margin-left: 2rem;
  text-align: left;
}

body .container main .contact_me .social_media {
  background-color: #0b313e;
  color: #F4F4F4;
  margin-right: 2rem;
  font-size: 3rem;
}

body .container main .contact_me .social_media i {
  margin: 0 1rem;
}

body .container main .contact_me .social_media i:hover {
  color: #fab100;
}

body .container footer {
  background-color: #000;
  color: #F4F4F4;
  text-align: left;
  padding-left: 2rem;
  line-height: 200px;
}

@media (max-width: 1025px) {
  body .container {
    width: 1025px;
    height: 4000px;
  }
}

@media (max-width: 801px) {
  body .container {
    width: 768px;
    height: 4000px;
  }
}

@media (max-width: 415px) {
  body .container {
    width: 414px;
    height: 8000px;
  }
  body .container main .contact_me {
    justify-content: center;
  }
  body .container main .contact_me h2 {
    margin-bottom: -1rem;
  }
  body .container main .contact_me .contact {
    margin-left: 0;
    text-align: center;
  }
  body .container main .contact_me .social_media {
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 376px) {
  body .container {
    width: 376px;
    height: 8000px;
  }
  body .container main .contact_me {
    justify-content: center;
  }
  body .container main .contact_me h2 {
    margin-bottom: -1rem;
  }
  body .container main .contact_me .contact {
    margin-left: 0;
    text-align: center;
  }
  body .container main .contact_me .social_media {
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 361px) {
  body .container {
    width: 361px;
    height: 8000px;
  }
  body .container main .contact_me {
    justify-content: center;
  }
  body .container main .contact_me h2 {
    margin-bottom: -1rem;
  }
  body .container main .contact_me .contact {
    margin-left: 0;
    text-align: center;
  }
  body .container main .contact_me .social_media {
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */
