$colorpri: #fab100
$colorsec: #0b313e
$colorter: #8a8986
$colorcua: #F4F4F4

$hbgi: '/img/blueforest2.png'

h1
    font-size: 2rem

h2
    font-size: 1.8rem

h3
    font-size: 1.5rem

h5
    font-size: 1rem

a
    color: #ffffff
    font-size: 1rem
    text-decoration: none

*
    margin: 0
    padding: 0

body
    background: $colorcua
    font-family: 'Roboto', 'Open Sans'
    font-size: 16px

.container
    width: 1200px
    margin: 0 auto

    header
        background-image: url($hbgi)
        height: 300px
        nav
            ul
                display: flex
                justify-content: end
                li
                    list-style: none
                    margin-top: 1rem
                    margin-right: 2rem
                    a
                        font-size: 1.2rem
                        margin: 0 10px
                        &:hover
                            color: $colorpri
                            
        .header
            margin-top: 50px
            display: flex
            justify-content: center
            .titulo
                border: 1px solid #FFFFFF
                padding: 15px 40px
                text-align: center
                h1
                    color: #ffffff
                    margin-bottom: 10px
                h3
                    color: #ffffff
                    font-family: 'Open Sans'
                    font-weight: 400


            

