Portafolio Design.docx
Portfolio.pdf
Your Front End Developer Portfolio Why It's So Important - Skillcrush.pdf
PS images/img01 - Portfolio.psd
PS images/img02 - Chanchamayo.psd
PS images/img03 - Pentagonito.psd
PS images/img04 - Colmar.psd
PS images/img05 - Fotomatic.psd
PS images/img06 - Tsunami coffee.psd
PS images/img07 - Tea Cozy.psd
PS images/img08 - webstore.psd
PS images/img09 - StartUp.psd
Portfolio.xd
PS images/FJOR Logo.psd
img/FJOR Foto.jpg
